@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color-pallet :  #693d95 #8352b3 #9c67d1 #cea2e7 */


@layer base {
  :root {
    --background: #121212;
    --foreground: #ffffff;
    --card: #282828;
    --card-foreground: #ffffff;
    --popover: #282828;
    --popover-foreground: #ffffff;
    --primary: #0a950c;
    --primary-foreground: #ffffff;
    --secondary: #3da131;
    --secondary-foreground: #ffffff;
    --muted: #282828;
    --muted-foreground: #a3a3a3;
    --accent: #282828;
    --accent-foreground: #ffffff;
    --destructive: #7f1d1d;
    --destructive-foreground: #ffffff;
    --border: #575757;
    --input: #282828;
    --ring: #0a950c;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* 
--custom-100: oklab(29.2% 0.025 -0.041);
--custom-200: oklab(13.1% 0.044 -0.031);
--custom-300: oklab(30.5% 0.119 -0.022);
--custom-400: oklab(39.7% -0.06 -0.026);
--custom-500: oklab(16.3% -0.03 0.013); */


/* .mesh-gradient {
  background: radial-gradient(at 89% 23%, #b71b98 0px, transparent 50%), 
              radial-gradient(at 6% 42%, #b71b4a 0px, transparent 50%), 
              radial-gradient(at 97% 84%, #b73a1b 0px, transparent 50%), 
              radial-gradient(at 43% 39%, #1bb73a 0px, transparent 50%), 
              radial-gradient(at 30% 26%, #1b98b7 0px, transparent 50%) #1d1b1b;
  mix-blend-mode: normal;
  filter: blur(0px);
} */

.mesh-gradient {
  background: linear-gradient(45deg, #0a950c, #3da131, #5bad4c, #74b966, #8cc57f)
}

.roadmap-mesh {
  background: linear-gradient(40deg, #0a950c, #3da131, #5bad4c, #74b966)
}

.step-card-mesh {
  background: linear-gradient(45deg, #171e15, #2c332a, #434941, #5b6059)
}

.mesh-gradient-2 {
  background: linear-gradient(45deg, #0a950c, #3da131, #5bad4c, #74b966)
}